<template>
  <div id="app">
    <fieldset>
      <legend>Input</legend>
      <button type="button"
              @click="loadFile()">Open File</button>
      <p v-if="filename">Reading {{filename}}</p>
    </fieldset>
    <fieldset>
      <legend>Output</legend>
      <button v-if="hasEvents"
              type="button"
              v-bind:disabled="!enableExport"
              @click="exportEvents()">Export Events</button>
      <button v-if="hasStatus"
              type="button"
              v-bind:disabled="!enableExport"
              @click="exportStatus()">Export Status</button>
      <button v-if="hasData"
              type="button"
              v-bind:disabled="!enableExport"
              @click="exportData()">Export Data</button>
      </fieldset>
  </div>
</template>

<script>
  import "./assets/css/main.css";

  export default {
      name: "app",
      data: function() {
          return {
              filename: "",
              hasEvents: false,
              hasStatus: false,
              hasData: false,
              enableExport: true,
          };
      },
      methods: {
          loadFile: function() {
              var self = this;
              window.backend.Session.Load().then(result => {
                  self.hasEvents = result.hasEvents;
                  self.hasStatus = result.hasStatus;
                  self.hasData = result.hasData;
                  self.filename = result.filename;
              }).catch(e => {
                  self.$alert(`Cannot open file: ${e}`,
                              "Error", "error");
              });
          },
          exportEvents: function() {
              var self = this;
              this.enableExport = false;
              window.backend.Session.ExportEvents().then(name => {
                  self.enableExport = true;
                  if (name) {
                      self.$alert(`Events exported to ${name}`,
                              "Success", "success");
                  }
              }).catch(e => {
                  self.enableExport = true;
                  self.$alert(`Export failed: ${e}`,
                              "Error", "error");
              });
          },
          exportStatus: function() {
              var self = this;
              this.enableExport = false;
              window.backend.Session.ExportStatus().then(name => {
                  self.enableExport = true;
                  if (name) {
                      self.$alert(`Events exported to ${name}`,
                              "Success", "success");
                  }
              }).catch(e => {
                  self.enableExport = true;
                  self.$alert(`Export failed: ${e}`,
                              "Error", "error");
              });
          },
          exportData: function() {
              var self = this;
              this.enableExport = false;
              window.backend.Session.ExportData().then(name => {
                  self.enableExport = true;
                  if (name) {
                      self.$alert(`Events exported to ${name}`,
                              "Success", "success");
                  }
              }).catch(e => {
                  self.enableExport = true;
                  self.$alert(`Export failed: ${e}`,
                              "Error", "error");
              });
          },
      }
  };
</script>
